/ACT 1.pdf
/ACT 2 Diseño de la Base de Datos del Proyecto_Equipo6.pdf
/Actividad 2 Diseño de la Base de Datos del Proyecto.pdf
/BD1-Fundamentos-de-bases-de-datos-y-DBMS.pdf
/BD2-Modelo-relacional-tablas-claves-y-tipos.pdf
/BD3-Modelado-y-diagramas-E-R.pdf
/BD4-Normalizacion.pdf
/CasosUsoReto6Equipo.pdf
/FuncionalidadPreliminar_A01669506.pdf
/M2 - Tema de Reto - Tipo de fraude.pdf
/presentacion.html
/presentacion.nueva.html
/presentacionconexiondb.html
/_Actividad 4.2_SRS_RetoEquipo6.docx.pdf